<div class="container">
    <div class="bg">
        <div class="row">
            <div class="col-12 text-center"><h1>Dashboard</h1></div>
        </div>
        <form>
            <div class="mb-3">
                <label for="uname" class="form-label">Username</label>
                <input  type="text" class="form-control" id="uname">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="mb-3">
                <label for="amt" class="form-label">Amount</label>
                <input  type="text" class="form-control" id="amt">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Deposit</button> &nbsp;
                <button type="submit" class="btn btn-primary">withdrawal</button>
            </div>
        </form>
    </div>
</div>